%h1&= build.human_status
- if !build.pending? && !build.building? && build.failed?
  %form{ :action => build_path(build), :method => :post }
    %p.submit
      %button{ :type => :submit, :title => "Rebuild this commit" }<
        Rebuild

- if build.pending? || build.building?
  %form{ :action => fail_build_path(build), :method => :post }
    %p.submit
      %button{ :type => :submit, :title => "Fail this build" }<
        Fail

%blockquote
  %p&= build.commit.message
  %p.meta<
    %span.who<
      &== by: #{build.commit.author.name}
    |
    %span.when{ :title => build.commit.committed_at }<
      &= pretty_date build.commit.committed_at
    |
    %span.what<
      &== commit: #{build.commit.identifier}

%h2 Build Output:
%pre.output{ :id => build.pending? || build.building? ? 'output_window' : '' }
  = partial(:build_output, :build => build)
